<app-nav></app-nav>

<div class="container">
  <form class=" shadow p-3 mb-5 bg-light rounded" [formGroup]="registerform" (ngSubmit)="onSubmit()" novalidate>

    <div class="panel panel-primary">

      <div class="panel-heading">
        <h2 class="text-center ">{{title}}</h2>
        <div class="text-center bg-succes">
          <hr>
          {{registerservice.date | date:'fullDate'}}
          <hr>
        </div>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label class="control-label" for="student_fname">First Name</label>
          <div class="input-group">

            <input type="text" class="form-control mr-sm-2" id="student_fname" [(ngModel)]="student_fname"
              formControlName="student_fname" placeholder="Enter First Name" [ngClass]="{ 'is-invalid': (submitted || 
              (registerform.get('student_fname').touched ||
              registerform.get('student_fname').dirty) &&
              registerform.get('student_fname').errors) }" />

            <span *ngIf="(submitted || (registerform.get('student_fname').touched ||
            registerform.get('student_fname').dirty) &&
            registerform.get('student_fname').errors)" class="invalid-feedback">

              <span *ngIf="registerform.get('student_fname').errors?.required">First Name is required</span>
            </span>
          </div>
        </div>
        <!-- ========================================================================================================= -->
        <div class="form-group">
          <label class="control-label" for="student_lname">Last Name</label>
          <div class="input-group">

            <input type="text" class="form-control mr-sm-2" id="student_lname" formControlName="student_lname"
              [(ngModel)]="student_lname" placeholder="Enter Last Name" [ngClass]="{ 'is-invalid': (submitted || 
              (registerform.get('student_lname').touched ||
              registerform.get('student_lname').dirty) &&
              registerform.get('student_lname').errors) }" />
            <span *ngIf="(submitted || 
            (registerform.get('student_lname').touched ||
            registerform.get('student_lname').dirty) &&
            registerform.get('student_lname').errors)" class="invalid-feedback">

              <span *ngIf="registerform.get('student_lname').errors?.required">Last Name is required</span>
            </span>
          </div>
        </div>
        <!-- =========================================================================================================== -->
        <div class="form-group">
          <label class="control-label" for="student_id">Student Number</label>
          <div class="input-group">

            <input type="text" class="form-control mr-sm-2" id="student_id" formControlName="student_id"
              [(ngModel)]="student_id" placeholder="Enter Student Number" [ngClass]="{ 'is-invalid': (submitted || 
              (registerform.get('student_id').touched ||
              registerform.get('student_id').dirty) &&
              registerform.get('student_id').errors) }" />

            <span *ngIf="(submitted || (registerform.get('student_id').touched ||
            registerform.get('student_id').dirty) &&
            registerform.get('student_id').errors)" class="invalid-feedback">

              <span *ngIf="registerform.get('student_id').errors?.required">Student Number is required</span>
            </span>
          </div>
        </div>

        <div class="form-group dropdown ">
          <label for="fac_id" class="col-lg-2 control-label">Faculty</label>
          <div class="input-group">
            <!-- [(ngModel)]="fac_id" -->
            <select id="fac_id" class="form-control" formControlName="fac_id" [ngClass]="{ 'is-invalid': (submitted || 
            (registerform.get('fac_id').touched ||
              registerform.get('fac_id').dirty) &&
              registerform.get('fac_id').errors) }">
              <option class="" [class.selected]>-- Select Faculty --</option>
              <option class="" *ngFor="let fac of faculties" (change)="selectedFaculty(fac.fac_id)"
                [value]="fac.fac_id">
                {{fac.fac_name}} </option>
            </select>

            <span *ngIf="(submitted || (registerform.get('fac_id').touched ||
            registerform.get('fac_id').dirty) &&
            registerform.get('fac_id').errors)" class="invalid-feedback">

              <span *ngIf="registerform.get('fac_id').errors?.required">Faculty is required</span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="student_password">Password</label>
          <div class="input-group">

            <input type="password" class="form-control mr-sm-2" id="student_password" formControlName="student_password"
              [(ngModel)]="student_password" placeholder="Enter Password" [ngClass]="{ 'is-invalid': (submitted || 
              (registerform.get('student_password').touched ||
              registerform.get('student_password').dirty) &&
              registerform.get('student_password').errors)  }" />

            <span *ngIf="(submitted || (registerform.get('student_password').touched ||
            registerform.get('student_password').dirty) &&
            registerform.get('student_password').errors)" class="invalid-feedback">

              <span *ngIf="registerform.get('student_password').errors?.required">Password is required</span>
              <span
                *ngIf="registerform.get('student_password').errors?.minlength || loginForm.get('student_password').errors?.maxlength">
                Password must not be less than 8 characters</span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="password_Conf">Comfirm Password</label>
          <div class="input-group">

            <input type="password" class="form-control mr-sm-2" id="password_Conf" formControlName="password_Conf"
              placeholder="Enter Comfirm Password" [ngClass]="{ 'is-invalid': (submitted || (registerform.get('password_Conf').touched ||
              registerform.get('password_Conf').dirty) &&
              registerform.get('password_Conf').errors) }" />

            <span *ngIf="(submitted || (registerform.get('password_Conf').touched ||
            registerform.get('password_Conf').dirty) &&
            registerform.get('password_Conf').errors)" class="invalid-feedback">

              <span *ngIf="registerform.get('password_Conf').errors?.required">Comfirm Password is required</span>
              <!-- <span *ngIf="registerform.get('password_Conf').errors?.required">Password does not match</span> -->
            </span>
          </div>
        </div>
        <!-- ======================================================== -->
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label" for="vote_rules">

            <input class="form-check-input" type="checkbox" id="vote_rules" value="option1" data-toggle="modal"
              data-backdrop="static" data-keyboard="false" data-target="#rulesModal" formControlName="vote_rules"
              [ngClass]="{ 'is-invalid': (submitted || 
              (registerform.get('vote_rules').touched ||
              registerform.get('vote_rules').dirty) &&
              registerform.get('vote_rules').errors) }">Agree to terms and conditions of Voting

            <span *ngIf="(submitted || (registerform.get('vote_rules').touched ||
            registerform.get('vote_rules').dirty) &&
            registerform.get('vote_rules').errors)" class="invalid-feedback">
              <span *ngIf="registerform.get('vote_rules').errors?.required">Agree to terms and conditions</span>
            </span>
            <!-- ======================================================== -->
          </label>
        </div>

        <div class="panel-footer form-row">
          <div class="form-group col-md-4">

            <button [disabled]="loading || !registerform.valid" type="submit"
              class="btn btn-primary btn-lg btn-block shadow p-3 mb-5 rounded bg-info">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Register
            </button>

          </div>
          <div class="form-group col-md-4">

            <button type="reset" class="btn btn-lg btn-block shadow p-3 mb-5 rounded">
              Clear
            </button>

          </div>
        </div>
      </div>
    </div>

    <!--rules modal-->
    <div class="modal fade" id="rulesModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Rules and Regulations</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-info" id="rules">
              <ul>
                <li>This website uses cookies to monitor browsing preference. Allowing this means that means that
                  third parties may store personal information.</li>
                <li>Use of the information provided in this website is entirely at your own risk.</li>
                <li>The student may not in any way adapt, reproduce, distribute, and or alter the content of the
                  website without consent.</li>
                <li>Any unauthorised use of the website may give rise to claim for damages and or be a criminal
                  offence.</li>
                <li>The website may or may not include links to external sites for further information.</li>
                <li>Full access to the website is limited to registered TUT students and the website’s administrator
                  only.</li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Accept</button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
<app-footer></app-footer>